.git
.gitignore
.turbo
.next
**/.next
node_modules
**/node_modules
dist
**/dist
build
**/build
coverage
**/coverage
.pnpm-store
.env
.env.*
*.log
*.tsbuildinfo
apps/api/uploads
docs
**/tests
**/*.test.ts
**/*.test.tsx
.idea
.vscode
.DS_Store
Thumbs.db
